{
  "presets": [
    [
      "@babel/preset-env", {
        "modules": false,
        "loose": true,
        "targets": {
          "browsers": ["last 2 versions", "ie >= 11"]
        },
      }
    ],
    // "@babel/env",
    "@babel/react"
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": [
        ["import", { "libraryName": "antd", "libraryDirectory": "lib"}, "ant"]
      ]
    }
  }
}