body {
  background: grey !important;
}
.clearfix {
  height: 1%;
  overflow: hidden;
}
.ant-popover-title {
  display: none !important;
}
.ant-popover-inner {
  background: none !important;
  box-shadow: 0 0 0 !important;
}
.ant-tooltip-inner {
  background-color: rgba(0, 0, 0, 0) !important;
}
.hover-tooltip {
  width: 600px;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 15px;
  border: 2px solid #4a4533;
  .ant-tooltip-inner {
    background: none !important;
    box-shadow: 0 0 0 !important;
  }
  .first {
    img {
      width: 50px;
    }
    span {
      color: #a5a480;
      font-size: 16px;
      margin-left: 20px;
      padding-top: -10px;
    }
  }
  .second {
    border-top: 2px solid #4a4533;
    border-bottom: 2px solid #4a4533;
    padding: 20px 0;
  }
  .third {
    > p {
      span {
        &:nth-child(2) {
          float: right;
        }
      }
      .greenWords {
        color: #9bda9a;
      }
    }
  }
}
.heroTableHover {
  display: flex;
  justify-content: flex-start;
  > div:nth-child(2) {
    margin-left: 10px;
    > p:nth-child(1) {
      font-size: 18px;
      margin: 0 0 10px 0;
      color: #a5a480;
    }
  } 
}
.heroListMoney {
  width: 260px;
  .first {
    padding-bottom: 15px;
    border-bottom: 1px solid #a5a480;
  }
  .second {
    padding: 10px 0;
    border: 0;
    color: #9e9f99;
  }
  .third {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    border: 0;
    font-size: 16px;
    > span {
      > span:nth-child(2) {
        &:before {
          content: '';
          display: inline-block;
          width: 17px;
          height: 17px;
          margin: 0 5px 0 5px;
          background: url(https://game.gtimg.cn/images/lol/guides/tft/spr-icon.png) no-repeat;
          background-position: -480px -20px;
        }
      }
    }
  }
}
.hover-relations {
  width: 500px;
  .relation-name {
    font-size: 20px;
    font-weight: bold;
    background-position-y: -20px;
  }
  .relation-status {
    display: flex;
    flex-direction: column;
    .disable {
      color: #464b4f;
    }
  }
  .relation-hero {
    div {
      display: inline-block;
      margin: 5px 10px;
      &.cost1 {
        border: 2px solid #454f5c;
      }
      &.cost2 {
        border: 2px solid #287d45;
      }
      &.cost3 {
        border: 2px solid #296ba1;
      }
      &.cost4 {
        border: 2px solid #8b1878;
      }
      &.cost5 {
        border: 2px solid #b27c1a;
      }
    }
    img {
      width: 60px;
      height: 60px;
      &.disabled {
        filter: grayscale(100%);
      }
    }
  }
}
.hero-main {
  width: 80%;
  margin: 0 auto;
  // position: relative;
  .hero-table-wrapper {
    margin: -20px auto 0;
    width: 720px;
    position: relative;
    .box-wrapper {
      transform: scale(0.95);
      .board-box:nth-child(1) {
        transform: scale(0.88);
        perspective: 900px;
        perspective-origin: 50% 130%;
      }
      .board-box:nth-child(2) {
        perspective: 900px;
      }
      .grid {
        transition: .5s all ease;
        transform: rotateX(40deg);
        perspective: 900px;
        animation: entry 1s linear 1;
        &:hover {
          transform: rotate(0deg) scale(1);
          transition: .5s all ease;
        }
      }
      .battling {
        transform: rotate(0deg) scale(1);
        transition: .5s all ease;
      }
    }
  }
}
// body {
//   background: url(./../../images/wide-bg.jpg) no-repeat;
//   background-size: 100% 100%;
// }

.move-img {
  margin: 1px;
  width: 58px;
  height: 68px;
  object-fit: cover;
  -webkit-clip-path: polygon(50% 0,100% 25%,100% 75%,50% 100%,0 75%,0 25%);
  clip-path: polygon(50% 0,100% 25%,100% 75%,50% 100%,0 75%,0 25%);
}

.hidden {
  display: none;
}

.hero-waitting {
  width: 950px;
  margin: 10px auto 0;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 1400px) {
    zoom: 0.8;    
  }
  .hero-waitting-item {
    width: 100px;
    height: 100px;
    background: #73876e;
    border: 1px solid #4d604d;
    position: relative;
    img {
      width: 100%;
    }
    .wrapper {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
  .star1 {
    &::before {
      content: '';
      position: absolute;
      left: 5px;
      top: 5px;
      width: 14px;
      height: 14px;
      background: url(./../../images/stars.png) no-repeat;
      background-position: 0 -25px;
    }
  }
  .star2 {
    &::before {
      content: '';
      position: absolute;
      left: 5px;
      top: 5px;
      width: 29px;
      height: 14px;
      background: url(./../../images/stars.png) no-repeat;
      background-position: 0 -25px;
    }
  }
  .star3 {
    &::before {
      content: '';
      position: absolute;
      left: 5px;
      top: 5px;
      width: 44px;
      height: 14px;
      background: url(./../../images/stars.png) no-repeat;
      background-position: 0 -25px;
    }
  }
}
.hero-relations {
  position: absolute;
  left: 0;
  top: 10%;
  overflow: hidden;
  .bg-top {
    width: 60px;
    height: 60px;
    transform: rotate(30deg);
    position: absolute;
    left: -21px;
    top: 30px;
    background: #162021;
    z-index: 1;
    border: 2px solid #4e3d2b;
  }
  .bg-middle {
    width: 50px;
    position: absolute;
    left: 0;
    top: 50px;
    bottom: 70px;
    background: #162021;
    border-right: 2px solid #4e3d2b;
    z-index: 2;
  }
  .bg-bottom {
    width: 60px;
    height: 60px;
    transform: rotate(-30deg);
    position: absolute;
    left: -21px;
    bottom: 50px;
    background: #162021;
    z-index: 1;
    border: 2px solid #4e3d2b;
  }
  .relations-list {
    margin: 60px 0 80px 5px;
    z-index: 3;
    min-width: 60px;
    min-height: 50px;
    > div {
      > div {
        z-index: 2;
        position: relative;
        display: flex;
        width: auto;
        text-align: left;
        font-size: 9px;
        color: #fcfcfc;
        margin: 10px 0;
        background-color: rgba(0, 0, 0, 0.55);
        border-radius: 10px;
        > span {
          position: relative;
          display: block;
          width: auto;
          text-align: left;
          font-size: 12px;
          color: #fcfcfc;
          padding: 0 0 0 30px;
          overflow: hidden;
          .icon-img-active {
            position: absolute;
            top: 9px;
            left: -30px;
            width: 20px;
            height: 20px;
            -webkit-filter: drop-shadow(#deb762 30px 0);
            filter: drop-shadow(#deb762 30px 0);
          }
          .icon-img-disable {
            position: absolute;
            top: 9px;
            left: -30px;
            width: 20px;
            height: 20px;
            -webkit-filter: drop-shadow(#ffffff 30px 0);
            filter: drop-shadow(#ffffff 30px 0);
          }
        }
        .num {
          font-size: 20px;
          background-color: rgba(0, 0, 0, 0.75);
          margin: auto;
          margin-left: 0;
          margin-right: 10px;
          padding: 0 7px 0 8px;
          border-radius: 5px;
        }
        > p {
          margin: 3px 9px 3px 0;
          display: flex;
          flex-direction: column;
        }
        &:before {
          content: '';
          vertical-align: top;
          display: inline-block;
          width: 1px;
          height: 20px;
          margin: 2px 6px 0px 5px;
          background-position-y: -60px;
          zoom: 1.7;
        }
      }
    }
  }
}

.gycanvas-wrapper {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: scale(0.95);
}

.gycanvas {
  // width: 100%;
  // height: 100%;
  
}