body {
  background: grey !important;
}
.clearfix {
  height: 1%;
  overflow: hidden;
}
.ant-popover-title {
  display: none !important;
}
.ant-popover-inner {
  background: none !important;
  box-shadow: 0 0 0 !important;
}
.ant-tooltip-inner {
  background-color: rgba(0, 0, 0, 0) !important;
}
.hover-tooltip {
  width: 600px;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 15px;
  border: 2px solid #4a4533;
  .ant-tooltip-inner {
    background: none !important;
    box-shadow: 0 0 0 !important;
  }
  .first {
    img {
      width: 50px;
    }
    span {
      color: #a5a480;
      font-size: 16px;
      margin-left: 20px;
      padding-top: -10px;
    }
  }
  .second {
    border-top: 2px solid #4a4533;
    border-bottom: 2px solid #4a4533;
    padding: 20px 0;
  }
  .third {
    > p {
      span {
        &:nth-child(2) {
          float: right;
        }
      }
      .greenWords {
        color: #9bda9a;
      }
    }
  }
}
.heroTableHover {
  display: flex;
  justify-content: flex-start;
  > div:nth-child(2) {
    margin-left: 10px;
    > p:nth-child(1) {
      font-size: 18px;
      margin: 0 0 10px 0;
      color: #a5a480;
    }
  } 
}
.heroListMoney {
  width: 260px;
  .first {
    padding-bottom: 15px;
    border-bottom: 1px solid #a5a480;
  }
  .second {
    padding: 10px 0;
    border: 0;
    color: #9e9f99;
  }
  .third {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    border: 0;
    font-size: 16px;
    > span {
      > span:nth-child(2) {
        &:before {
          content: '';
          display: inline-block;
          width: 17px;
          height: 17px;
          margin: 0 5px 0 5px;
          background: url(https://game.gtimg.cn/images/lol/guides/tft/spr-icon.png) no-repeat;
          background-position: -480px -20px;
        }
      }
    }
  }
}
.hover-relations {
  width: 500px;
  .relation-name {
    font-size: 20px;
    font-weight: bold;
    background-position-y: -20px;
  }
  .relation-status {
    display: flex;
    flex-direction: column;
    .disable {
      color: #464b4f;
    }
  }
  .relation-hero {
    div {
      display: inline-block;
      margin: 5px 10px;
      &.cost1 {
        border: 2px solid #454f5c;
      }
      &.cost2 {
        border: 2px solid #287d45;
      }
      &.cost3 {
        border: 2px solid #296ba1;
      }
      &.cost4 {
        border: 2px solid #8b1878;
      }
      &.cost5 {
        border: 2px solid #b27c1a;
      }
    }
    img {
      width: 60px;
      height: 60px;
      &.disabled {
        filter: grayscale(100%);
      }
    }
  }
}
.hero-main {
  width: 80%;
  margin: 0 auto;
  .hero-table-wrapper {
    margin-top: -20px;
    .box-wrapper {
      transform: scale(0.95);
      .board-box:nth-child(1) {
        transform: scale(0.88);
        perspective: 900px;
        perspective-origin: 50% 130%;
      }
      .board-box:nth-child(2) {
        perspective: 900px;
      }
      .grid {
        transition: .5s all ease;
        transform: rotateX(40deg);
        perspective: 900px;
        animation: entry 1s linear 1;
        &:hover {
          transform: rotate(0deg) scale(1);
          transition: .5s all ease;
        }
      }
      .battling {
        transform: rotate(0deg) scale(1);
        transition: .5s all ease;
      }
    }
  }
}
// body {
//   background: url(./../../images/wide-bg.jpg) no-repeat;
//   background-size: 100% 100%;
// }
.hero-list {
  position: absolute;
  bottom: 0;
  left: 15%;
  @media screen and (max-width: 1400px) {
    zoom: 0.7;    
  }
  .player-info {
    position: relative;
    height: 50px;
    color: #c0bdb2;
    .level {
      position: absolute;
      left: 0;
      .level-bg {
        position: absolute;
        top: 0px;
        right: -185px;
        border-left: 0px solid transparent;   //控制梯形腰的斜度，像素越大，底角越小，如125px
        border-right: 25px solid transparent;
        border-bottom: 50px solid #162021;
        height: 0;
        width: 185px;
        z-index: 1;
      }
      .level-info {
        z-index: 3;
        height: 50px;
        width: 150px;
        position: absolute;
        display: flex;
        justify-content: space-between;
        > p:nth-child(1) {
          font-size: 22px;
          font-weight: bold;
          margin: 5px 0 0 5px;
        }
        > p:nth-child(2) {
          margin: 20px 0 0 0;
        }
      }
    }
    .money {
      position: absolute;
      left: 45%;
      height: 50px;
      width: 150px;
      .money-bg {
        position: absolute;
        top: 0px;
        right: -25px;
        border-left: 25px solid transparent;   //控制梯形腰的斜度，像素越大，底角越小，如125px
        border-right: 25px solid transparent;
        border-bottom: 50px solid #162021;
        height: 0;
        width: 185px;
        z-index: 1;
      }
      .money-info {
        z-index: 3;
        position: absolute;
        left: 26%;
        top: 10%;
        font-size: 22px;
        font-weight: bold;
        p {
          &:before {
            content: '';
            display: inline-block;
            margin: 0 3px 0 0;
            width: 20px;
            height: 18px;
            background: url(https://game.gtimg.cn/images/lol/guides/tft/spr-icon.png) no-repeat;
            background-position: -480px -20px;
          }
        }
      }
    }
  }
  .champions {
    position: relative;
    width: 100%;
    background-color: #081110;
    border: 3px solid #6a5b3a;
  }
  .champion-list {
    display: flex;
    padding: 15px 0 10px 0;
    align-items: center;
    justify-content: space-around;
    .cost1 p {
      background: url(https://game.gtimg.cn/images/lol/guides/tft/spr-border.png) no-repeat;
      background-position: 0 -220px;
    }
    .cost2 p {
      background: url(https://game.gtimg.cn/images/lol/guides/tft/spr-border.png) no-repeat;
      background-position: 0 -180px;
    }
    .cost3 p {
      background: url(https://game.gtimg.cn/images/lol/guides/tft/spr-border.png) no-repeat;
      background-position: 0 -140px;
    }
    .cost4 p {
      background: url(https://game.gtimg.cn/images/lol/guides/tft/spr-border.png) no-repeat;
      background-position: 0 -100px;
    }
    .cost5 p {
      background: url(https://game.gtimg.cn/images/lol/guides/tft/spr-border.png) no-repeat;
      background-position: 0 -60px;
    }
    .cost7 p {
      background: url(https://game.gtimg.cn/images/lol/guides/tft/spr-border.png) no-repeat;
      background-position: 0 -260px;
    }
    .champion-info {
      position: relative;
      float: left;
      width: 200px;
      height: 154px;
      margin: 0 0px 5px 0;
      cursor: pointer;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      .refresh {
        height: 70px;
        width: 180px;
        // margin: 0 auto;
        background-image: url(./../../images/refresh-hero.png);
        background-size: 100%;
        background-repeat: no-repeat;
      }
      .level {
        height: 65px;
        width: 180px;
        // margin: 0 auto;
        background-image: url(./../../images/get-Exp.png);
        background-size: 100%;
        background-repeat: no-repeat;
      }
      > div {
        border: 1px solid black;
      }
    }
    .champion-saled {
      background: #050a0a;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .position {
        border: 2px solid #122121;
        background: #081110;
        width: 90%;
        height: 80%;
        margin-left: 13px;
      }
    }
    .champion {
      position: relative;
      float: left;
      width: 224px;
      height: 154px;
      margin: 0 20px 5px 0;
      cursor: pointer;
      overflow: hidden;
      &.cost1 {
        border: 2px solid #454f5c;
      }
      &.cost2 {
        border: 2px solid #287d45;
      }
      &.cost3 {
        border: 2px solid #296ba1;
      }
      &.cost4 {
        border: 2px solid #8b1878;
      }
      &.cost5 {
        border: 2px solid #b27c1a;
      }
      p {
        width: 100%;
        height: 38px;
        line-height: 38px;
        margin-top: 116px;
        padding: 0 8px;
        font-size: 16px;
        font-weight: bold;
        color: #f0e6d2;
        span {
          float: right;
          height: 38px;
          font-size: 24px;
          &:before {
            content: '';
            display: inline-block;
            width: 20px;
            height: 20px;
            background: url(https://game.gtimg.cn/images/lol/guides/tft/spr-icon.png) no-repeat;
            background-position: -480px -20px;
          }
        }
      }
    }
    .triangle {
      position: absolute;
      top: -12px;
      left: -2px;
      width: 0;
      height: 0;
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      border-right: 12px solid transparent;
      transform: rotate(45deg);
      z-index: 9;
    }
    .pic-shadow {
      position: absolute;
      top: 0;
      left: 0;
      width: 224px;
      height: 116px;
      background: url(//game.gtimg.cn/images/lol/guides/tft/champion-shadow.png) no-repeat;
      z-index: 3;
    }
    .synergies {
      position: absolute;
      bottom: 48px;
      left: 12px;
      z-index: 4;
      span {
        position: relative;
        display: block;
        width: auto;
        height: 30px;
        line-height: 30px;
        text-align: left;
        font-size: 12px;
        color: #fcfcfc;
        &::before {
          content: '';
          vertical-align: top;
          display: inline-block;
          width: 20px;
          height: 20px;
          margin: 5px;
          background-position-y: -60px;
        }
      }
    }
    .champion img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      height: 116px;
      z-index: 2;
    }
  }
}
.box-wrapper {
  // margin-top: 120px;
}
.hero-hover {
  display: flex;
  .cost1 {
    .price {
      background: url(https://game.gtimg.cn/images/lol/guides/tft/spr-border.png) no-repeat;
      background-position: 0 -220px;  
    }
  }
  .cost2  {
    .price {
      background: url(https://game.gtimg.cn/images/lol/guides/tft/spr-border.png) no-repeat;
      background-position: 0 -180px;  
    }
  }
  .cost3 {
    .price {
      background: url(https://game.gtimg.cn/images/lol/guides/tft/spr-border.png) no-repeat;
      background-position: 0 -140px;  
    }
  }
  .cost4 {
    .price {
      background: url(https://game.gtimg.cn/images/lol/guides/tft/spr-border.png) no-repeat;
      background-position: 0 -100px;  
    }
  }
  .cost5 {
    .price {
      background: url(https://game.gtimg.cn/images/lol/guides/tft/spr-border.png) no-repeat;
      background-position: 0 -60px;  
    }
  }
  .cost7 {
    .price {
      background: url(https://game.gtimg.cn/images/lol/guides/tft/spr-border.png) no-repeat;
      background-position: 0 -260px;  
    }
  }
  .main {
    width: 300px;
    border: 2px solid #403821;
    background-color: #131919;
    position: relative;
    .star1 {
      &::before {
        content: '';
        position: absolute;
        left: 23px;
        top: 5px;
        width: 14px;
        height: 14px;
        background: url(./../../images/stars.png) no-repeat;
        background-position: 0 -25px;
        z-index: 999;
      }
    }
    .star2 {
      &::before {
        content: '';
        position: absolute;
        left: 15px;
        top: 8px;
        width: 29px;
        height: 14px;
        background: url(./../../images/stars.png) no-repeat;
        background-position: 0 -25px;
        z-index: 999;
      }
    }
    .star3 {
      &::before {
        content: '';
        position: absolute;
        left: 9px;
        top: 5px;
        width: 44px;
        height: 24px;
        background: url(./../../images/stars.png) no-repeat;
        background-position: 0 0px;
        z-index: 999;
      }
    }
    .img {
      position: relative;
      width: 304px;
      height: 154px;
      .pic-shadow {
        position: absolute;
        top: 0;
        left: 0;
        width: 300px;
        height: 150px;
        background: url(//game.gtimg.cn/images/lol/guides/tft/champion-shadow.png) no-repeat;
        background-size: 100%;
        z-index: 3;
      }
      .synergies {
        position: absolute;
        top: 12px;
        left: 10px;
        z-index: 4;
        span {
          position: relative;
          display: block;
          width: auto;
          height: 30px;
          line-height: 30px;
          text-align: left;
          font-size: 12px;
          color: #fcfcfc;
          &::before {
            content: '';
            vertical-align: top;
            display: inline-block;
            width: 20px;
            height: 20px;
            margin: 5px;
            background-position-y: -60px;
          }
        }
      }
      img {
        width: 296px;
        position: absolute;
        display: block;
        height: 150px;
        z-index: 2;
      }
    }
    .name {
      font-size: 20px;
      font-weight: bolder;
      color: #ffffff;
      position: absolute;
      bottom: 0px;
      right: 12px;
      z-index: 999;
    }
    .price {
      position: absolute;
      right: 8px;
      top: -1px;
      z-index: 999;
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 20px;
      line-height: 20px;
      color: #FFFFFF;
      &:before {
        content: '';
        display: inline-block;
        width: 17px;
        height: 17px;
        margin-right: 7px;
        background: url(https://game.gtimg.cn/images/lol/guides/tft/spr-icon.png) no-repeat;
        background-position: -480px -20px;
      }
    }
    .star {
      position: absolute;
      top: 0;
      right: 58%;
      z-index: 999;
    }
    .hover-health {
      position: absolute;
      width: 75%;
      bottom: 2px;
      right: 8px;
      z-index: 999;
      .ant-progress-bg {
        border-radius: 0 !important;
      }
      .ant-progress-inner {
        border-radius: 0 !important;
        background-color: #172126 !important;
      }
    }
    .hover-mana {
      position: absolute;
      width: 75%;
      bottom: -12px;
      right: 8px;
      z-index: 999;
      .ant-progress-bg {
        border-radius: 0 !important;
      }
      .ant-progress-inner {
        border-radius: 0 !important;
        background-color: #172126 !important;
      }
    }
    .skill-equip {
      display: flex;
      position: relative;
      .skill {
        img {
          width: 70px;
          padding: 10px;
        }
      }
      .equipment {
        position: absolute;
        right: 20px;
        top: 8px;
        display: flex;
        width: 65%;
        height: 90%;
        align-items: center;
        justify-content: space-between;
        .equipment-item {
          img {
            width: 40px;
            height: 40px;  
          }
        }
      }
    }
  }
  .info {
    width: 105px;
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.75);
    .property {
      width: 50px;
      height: 30px;
    }
  }
}
.board-box {
  position: relative;
  width: 720px;
  height: 280px;
  margin: 0px auto;
  @media screen and (max-width: 1400px) {
    zoom: 0.8;    
  }
  &.enemy {
    .grid {
      background: url(https://game.gtimg.cn/images/lol/guides/tft/spr-simulator.png) no-repeat;
      background-position: -540px -100px;
    }
  }
  .grid {
    user-select: none;
    position: relative;
    vertical-align: top;
    display: inline-block;
    width: 82px;
    height: 70px;
    margin: 0 14px 0px 0;
    background: url(https://game.gtimg.cn/images/lol/guides/tft/spr-simulator.png) no-repeat;
    background-position: -540px -30px;
    .radius-180 {
      position: absolute;
      left: -40px;
      top: -50px;
      width: 180px;
      height: 180px;
      border: 2px solid red;
      border-radius: 50%;
    }
    .radius-420 {
      position: absolute;
      left: -160px;
      top: -160px;
      width: 420px;
      height: 420px;
      border: 2px solid red;
      border-radius: 50%;
    }
    &:nth-child(8) {
      margin-left: 48px;
    }
    &:nth-child(22) {
      margin-left: 48px;
    }
    .health-percent {
      position: absolute;
      top: -18px;
      left: 18px;
      width: 75%;
      .ant-progress-bg {
        height: 5px !important;
      }
      .ant-progress-inner {
        background-color: gray;
      }
    }
    .mana-percent {
      position: absolute;
      top: -12px;
      left: 18px;
      width: 75%;
      .ant-progress-bg {
        height: 3px !important;
      }
      .ant-progress-inner {
        background-color: gray;
      }
    }
  }
  .grid-champion {
    position: absolute;
    top: 0;
    right: 2px;
    width: 60px;
    height: 70px;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 60px;
      height: 70px;
      z-index: 3;
    }
    img {
      margin: 1px;
      width: 58px;
      height: 68px;
      object-fit: cover;
      -webkit-clip-path: polygon(50% 0,100% 25%,100% 75%,50% 100%,0 75%,0 25%);
      clip-path: polygon(50% 0,100% 25%,100% 75%,50% 100%,0 75%,0 25%);
    }
    .star1 {
      &::before {
        content: '';
        position: absolute;
        left: 23px;
        top: 5px;
        width: 14px;
        height: 14px;
        background: url(./../../images/stars.png) no-repeat;
        background-position: 0 -25px;
        z-index: 999;
      }
    }
    .star2 {
      &::before {
        content: '';
        position: absolute;
        left: 15px;
        top: 8px;
        width: 29px;
        height: 14px;
        background: url(./../../images/stars.png) no-repeat;
        background-position: 0 -25px;
        z-index: 999;
      }
    }
    .star3 {
      &::before {
        content: '';
        position: absolute;
        left: 9px;
        top: 5px;
        width: 44px;
        height: 24px;
        background: url(./../../images/stars.png) no-repeat;
        background-position: 0 0px;
        z-index: 999;
      }
    }
  }
  .grid-items {
    width: 18px;
    margin-top: 6px;
  }
  .equipment {
    width: 18px;
    height: 18px;
    margin-bottom: 2px;
    // background-color: #e1e1e1;
    img {
      width: 18px;
      height: 18px;
    }
  }
  .cost1 {
    &::before {
      background: url(//game.gtimg.cn/images/lol/guides/tft/spr-simulator.png) no-repeat;
      background-position: 0px -30px;
    }
  }
  .cost2 {
    &::before {
      background: url(//game.gtimg.cn/images/lol/guides/tft/spr-simulator.png) no-repeat;
      background-position: 0px -30px;
    }
  }
  .cost3 {
    &::before {
      background: url(//game.gtimg.cn/images/lol/guides/tft/spr-simulator.png) no-repeat;
      background-position: 0px -30px;
    }
  }
  .cost4 {
    &::before {
      background: url(//game.gtimg.cn/images/lol/guides/tft/spr-simulator.png) no-repeat;
      background-position: 0px -30px;
    }
  }
  .cost5 {
    &::before {
      background: url(//game.gtimg.cn/images/lol/guides/tft/spr-simulator.png) no-repeat;
      background-position: 0px -30px;
    }
  }
}
.move-img {
  margin: 1px;
  width: 58px;
  height: 68px;
  object-fit: cover;
  -webkit-clip-path: polygon(50% 0,100% 25%,100% 75%,50% 100%,0 75%,0 25%);
  clip-path: polygon(50% 0,100% 25%,100% 75%,50% 100%,0 75%,0 25%);
}

.hidden {
  display: none;
}

.hero-waitting {
  width: 950px;
  margin: 10px auto 0;
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 1400px) {
    zoom: 0.8;    
  }
  .hero-waitting-item {
    width: 100px;
    height: 100px;
    background: #73876e;
    border: 1px solid #4d604d;
    position: relative;
    img {
      width: 100%;
    }
    .wrapper {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
  .star1 {
    &::before {
      content: '';
      position: absolute;
      left: 5px;
      top: 5px;
      width: 14px;
      height: 14px;
      background: url(./../../images/stars.png) no-repeat;
      background-position: 0 -25px;
    }
  }
  .star2 {
    &::before {
      content: '';
      position: absolute;
      left: 5px;
      top: 5px;
      width: 29px;
      height: 14px;
      background: url(./../../images/stars.png) no-repeat;
      background-position: 0 -25px;
    }
  }
  .star3 {
    &::before {
      content: '';
      position: absolute;
      left: 5px;
      top: 5px;
      width: 44px;
      height: 14px;
      background: url(./../../images/stars.png) no-repeat;
      background-position: 0 -25px;
    }
  }
}
.hero-relations {
  position: absolute;
  left: 0;
  top: 10%;
  overflow: hidden;
  .bg-top {
    width: 60px;
    height: 60px;
    transform: rotate(30deg);
    position: absolute;
    left: -21px;
    top: 30px;
    background: #162021;
    z-index: 1;
    border: 2px solid #4e3d2b;
  }
  .bg-middle {
    width: 50px;
    position: absolute;
    left: 0;
    top: 50px;
    bottom: 70px;
    background: #162021;
    border-right: 2px solid #4e3d2b;
    z-index: 2;
  }
  .bg-bottom {
    width: 60px;
    height: 60px;
    transform: rotate(-30deg);
    position: absolute;
    left: -21px;
    bottom: 50px;
    background: #162021;
    z-index: 1;
    border: 2px solid #4e3d2b;
  }
  .relations-list {
    margin: 60px 0 80px 5px;
    z-index: 3;
    min-width: 60px;
    min-height: 50px;
    > div {
      > div {
        z-index: 2;
        position: relative;
        display: flex;
        width: auto;
        text-align: left;
        font-size: 9px;
        color: #fcfcfc;
        margin: 10px 0;
        background-color: rgba(0, 0, 0, 0.55);
        border-radius: 10px;
        .num {
          font-size: 20px;
          background-color: rgba(0, 0, 0, 0.75);
          margin: auto;
          margin-left: 0;
          margin-right: 10px;
          padding: 0 7px 0 8px;
          border-radius: 5px;
        }
        > p {
          margin: 3px 9px 3px 0;
          display: flex;
          flex-direction: column;
        }
        &:before {
          content: '';
          vertical-align: top;
          display: inline-block;
          width: 20px;
          height: 20px;
          margin: 2px 6px 0px 5px;
          background-position-y: -60px;
          zoom: 1.7;
        }
      }
    }
  }
}